## mako
<%page expression_filter="h"/>
<%namespace name='static' file='static_content.html'/>
<%!
from django.urls import reverse
from django.utils.translation import gettext as _
from django.conf import settings

from datetime import datetime
import pytz

from openedx.core.djangoapps.lang_pref.api import footer_language_selector_is_enabled
from openedx.core.djangolib.markup import HTML, Text
%>

<div class="wrapper wrapper-footer">
  <footer>
    <div class="colophon">
      <nav class="nav-colophon" aria-label="${_('About')}">
      <ol>
          <li class="nav-colophon-01">
          <a id="about" href="${marketing_link('ABOUT')}">
              ${_("About")}
          </a>
          </li>
          %if marketing_link('JOBS') and marketing_link('JOBS') != '#':
            <li class="nav-colophon-02">
              <a id="jobs" href="${marketing_link('JOBS')}">
                ${_("Jobs")}
              </a>
            </li>
          %endif
          %if marketing_link('NEWS') and marketing_link('NEWS') != '#':
            <li class="nav-colophon-03">
              <a id="news" href="${marketing_link('NEWS')}">
                ${_("News")}
              </a>
            </li>
          %endif
          <li class="nav-colophon-04">
          <a id="faq" href="${marketing_link('FAQ')}">
              ${_("FAQ")}
          </a>
          </li>
          <li class="nav-colophon-05">
          <a id="contact" href="${marketing_link('CONTACT')}">
              ${_("Contact")}
          </a>
          </li>
      </ol>
      </nav>

      % if context.get('include_language_selector', footer_language_selector_is_enabled()):
          <%include file="${static.get_template_path('widgets/footer-language-selector.html')}"/>
      % endif

      <div class="wrapper-logo">
        <p>
          <a href="/">
            ## Replace this with your own logo
            <img alt="Your Organization Logo" src="${static.url("images/your-logo.png")}">
          </a>
        </p>
      </div>

      ## Custom copyright text - replace with your organization's copyright
      <p class="copyright">&copy; ${datetime.now(pytz.timezone(settings.TIME_ZONE)).year} Your Organization Name. All rights reserved.</p>

      <nav class="nav-legal" aria-label="${_('Legal')}">
        <ul>
        % if marketing_link('HONOR') and marketing_link('HONOR') != '#':
          <li class="nav-legal-01">
            <%
              tos_link = HTML(u"<a href='{}'>").format(marketing_link('TOS'))
              honor_link = HTML(u"<a href='{}'>").format(marketing_link('HONOR'))
            %>
            ${
              Text(_("{tos_link_start}Terms of Service{tos_link_end} and {honor_link_start}Honor Code{honor_link_end}")).format(
                tos_link_start=tos_link,
                tos_link_end=HTML("</a>"),
                honor_link_start=honor_link,
                honor_link_end=HTML("</a>"),
              )
            }
          </li>
        % else:
          <li class="nav-legal-01">
            <a href="${marketing_link('TOS')}">${_("Terms of Service")}</a>
          </li>
        % endif
          <li class="nav-legal-02">
            <a href="${marketing_link('PRIVACY')}">${_("Privacy Policy")}</a>
          </li>
        </ul>
      </nav>
    </div>

    ## Remove the Open edX branding section entirely
    ## If you want to keep it but customize it, uncomment and modify the section below
    ##
    ## <div class="footer-about-openedx">
    ##   <p>
    ##     <a href="https://your-website.com/">
    ##       <img src="${static.url("images/your-powered-by-logo.png")}" alt="Powered by Your Platform" width="175" />
    ##     </a>
    ##   </p>
    ## </div>
  </footer>
</div> 